services:
  # =============================
  # AUTH MONGO
  # =============================
  auth-mongo:
    image: mongo:6.0
    container_name: auth-mongo
    volumes:
      - auth-mongo-data:/data/db
    ports:
      - "27018:27017"
    networks:
      - indiehub-network
    healthcheck:
      test: [ "CMD", "mongosh", "--eval", "db.adminCommand('ping')" ]
      interval: 10s
      timeout: 5s
      retries: 5

  mongo-express:
    image: mongo-express
    container_name: mongo-express
    ports:
      - "8082:8081"
    environment:
      ME_CONFIG_MONGODB_URL: mongodb://auth-mongo:27017
      ME_CONFIG_BASICAUTH: "false"
    depends_on:
      auth-mongo:
        condition: service_healthy
    networks:
      - indiehub-network

  # =============================
  # AUTH SERVICE
  # =============================
  auth-service:
    build: ./auth-service
    container_name: auth-service
    environment:
      PORT: 4001
      MONGO_URL: mongodb://auth-mongo:27017/authdb
      JWT_SECRET: supersecret
    depends_on:
      auth-mongo:
        condition: service_healthy
    ports:
      - "4001:4001"
    networks:
      - indiehub-network

  # =============================
  # POSTGRES (GAMES)
  # =============================
  games-postgres:
    image: postgres:15
    container_name: games-postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: gamesdb
    volumes:
      - games-postgres-data:/var/lib/postgresql/data
    ports:
      - "5433:5432"
    networks:
      - indiehub-network
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres -d gamesdb" ]
      interval: 10s
      timeout: 5s
      retries: 5

  # =============================
  # GAME SERVICE
  # =============================
  game-service:
    build: ./game-service
    container_name: game-service
    environment:
      PORT: 4002
      PG_HOST: games-postgres
      PG_PORT: 5432
      PG_USER: postgres
      PG_PASSWORD: postgres
      PG_DB: gamesdb
      AUTH_URL: http://auth-service:4001
      JWT_SECRET: supersecret
    depends_on:
      games-postgres:
        condition: service_healthy
      auth-service:
        condition: service_started
    ports:
      - "4002:4002"
    networks:
      - indiehub-network

  # =============================
  # REVIEW MONGO
  # =============================
  review-mongo:
    image: mongo:6.0
    container_name: review-mongo
    volumes:
      - review-mongo-data:/data/db
    ports:
      - "27019:27017"
    networks:
      - indiehub-network
    healthcheck:
      test: [ "CMD", "mongosh", "--eval", "db.adminCommand('ping')" ]
      interval: 10s
      timeout: 5s
      retries: 5

  # =============================
  # REVIEW SERVICE
  # =============================
  review-service:
    build: ./review-service
    container_name: review-service
    environment:
      PORT: 4003
      MONGO_URL: mongodb://review-mongo:27017/reviewsdb
      AUTH_URL: http://auth-service:4001
      RABBITMQ_HOST: rabbitmq
    depends_on:
      review-mongo:
        condition: service_healthy
      auth-service:
        condition: service_started
    ports:
      - "4003:4003"
    networks:
      - indiehub-network

  # =============================
  # RABBITMQ
  # =============================
  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    networks:
      - indiehub-network

  # =============================
  # NOTIFICATION SERVICE
  # =============================
  notification-service:
    build: ./notification-service
    container_name: notification-service
    depends_on:
      rabbitmq:
        condition: service_started
    networks:
      - indiehub-network

  # =============================
  # ANALYTICS SERVICE
  # =============================
  analytics-service:
    build: ./analytics-service
    container_name: analytics-service
    environment:
      PORT: 4004
      GAME_SERVICE_URL: http://game-service:4002
      REVIEW_SERVICE_URL: http://review-service:4003
    depends_on:
      game-service:
        condition: service_started
      review-service:
        condition: service_started
    ports:
      - "4004:4004"
    networks:
      - indiehub-network

  # =============================
  # API GATEWAY
  # =============================
  api-gateway:
    build: ./api-gateway
    container_name: api-gateway
    environment:
      PORT: 8080
      AUTH_URL: http://auth-service:4001
      GAME_URL: http://game-service:4002
      REVIEW_URL: http://review-service:4003
      ANALYTICS_URL: http://analytics-service:4004
    depends_on:
      auth-service:
        condition: service_started
      game-service:
        condition: service_started
      review-service:
        condition: service_started
      analytics-service:
        condition: service_started
    ports:
      - "8080:8080"
    networks:
      - indiehub-network

networks:
  indiehub-network:
    driver: bridge

volumes:
  auth-mongo-data:
  review-mongo-data:
  games-postgres-data:
